{% extends 'base.html' %}
{% block title %}
  Cadastrar Produto
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mb-4">Cadastrar Novo Produto</h2>
    <form method="POST" action="{% url 'criar_produto' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required />
      </div>
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
      </div>
      <div class="mb-3">
        <label for="marca" class="form-label">Marca</label>
        <input type="text" class="form-control" id="marca" name="marca" maxlength="16" required />
      </div>
      <div class="mb-3">
        <label for="preco" class="form-label">Preço</label>
        <input type="text" class="form-control" id="preco" name="preco" required oninput="formatarMoeda(this)" min="0.01" max="99999.99" />
      </div>
      <div class="mb-3">
        <label for="saldo_estoque" class="form-label">Quantidade em estoque</label>
        <input type="number" class="form-control" id="saldo_estoque" name="saldo_estoque" required min="0" max="99999" oninput="verificarQuantidade(this)" />
      </div>
      <button type="submit" class="btn btn-success">Cadastrar</button>
      <a href="{% url 'listar_produtos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}

{% load static %}
{% block extra_scripts %}
  <script src="{% static 'produto/produto_form.js' %}"></script>
{% endblock %}
